services:
  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    container_name: mlflow-server
    restart: unless-stopped
    ports:
      - "5001:5000"
    volumes:
      - ./data:/data
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri sqlite:///data/mlflow.db
      --default-artifact-root mlflow-artifacts:/
      --artifacts-destination /data/artifacts
      --serve-artifacts
      --allowed-hosts '*'
      --app-name basic-auth
